<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      SMS Blaster
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content padding>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Excel Path</ion-label>
            <ion-input [(ngModel)]="excelPath"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button (click)=openFileManager() expand="full">Browse</ion-button>

        <ion-list>
            <ion-item>
              <ion-label>Include Name</ion-label>
              <ion-checkbox [(ngModel)]="includeName" (ionChange)="updateIncludeName()" checked="false"></ion-checkbox>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
                <ion-label>Template</ion-label>
                <ion-select placeholder="Select One" (ionChange) ="changeTemplate($event)">
                  <ion-select-option *ngFor = "let template of templates" value = "{{template.Title}}">{{template.Title}}</ion-select-option>
                </ion-select>
              </ion-item>
        </ion-list>
        
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Message</ion-label>
            <ion-textarea [(ngModel)]="message" rows = 6></ion-textarea>
          </ion-item>
        </ion-list>

        <ion-button (click)=send() expand="full">Send</ion-button>
  </ion-content>

